<li class="nav-item">
    <a class="nav-link {% if request.endpoint == 'home_route' %}active{% endif %} d-flex align-items-center" href="{{ url_for('home_route') }}">
        <span class="material-icons me-2">dashboard</span>
        <span class="menu-text">Dashboard</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link {% if request.endpoint == 'ai_chat_route' %}active{% endif %} d-flex align-items-center" href="{{ url_for('ai_chat_route') }}">
        <span class="material-icons me-2">chat</span>
        <span class="menu-text">AI Chat</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link {% if request.endpoint == 'chat_history_route' %}active{% endif %} d-flex align-items-center" href="{{ url_for('chat_history_route') }}">
        <span class="material-icons me-2">history</span>
        <span class="menu-text">Chat History</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link {% if request.endpoint == 'company_admins_route' %}active{% endif %} d-flex align-items-center" href="{{ url_for('company_admins_route') }}">
        <span class="material-icons me-2">group</span>
        <span class="menu-text">Team</span>
    </a>
</li>